<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      {{ 'App.Title' | translate }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="undo()" *ngIf="prevState">
        <ion-icon slot="icon-only" name="undo"></ion-icon>
      </ion-button>

      <ion-button (click)="reset()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-select slot="end" 
                placeholder="Select Language" 
                (ionChange)="languageChange()" 
                [interfaceOptions]="{ header: 'Select Language' }"
                [(ngModel)]="language">
      <ion-select-option value="en-US">English</ion-select-option>
      <ion-select-option value="fr-FR">Français</ion-select-option>
    </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col size="12" size-md="6" offset-md="3">
      <ion-card *ngIf="state.viewState === 'startgame'">
        <ion-card-header>
          <ion-card-title>{{ 'Game.Headers.NewGame' | translate }}</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          <ion-list>
            <ion-item color="pathred" *ngFor="let option of startGameOptions" (click)="startGame(option.dest)">
              {{ option.text | translate }}
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    
      <ng-container *ngIf="mindmap.nodes[state.currentView] as mind">

        <ion-card *ngIf="state.viewState === 'startturn'">
          <ion-card-header>
            <ion-card-title>{{ 'Game.Headers.NewTurn' | translate }}</ion-card-title>
          </ion-card-header>
    
          <ion-card-content>
            <ion-list>
              <ion-item color="primary" (click)="startTurn()">
                {{ 'Game.Actions.ThreatAssessment' | translate }}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="state.viewState === 'threatassess'">
          <ion-card-header>
            <ion-card-title>{{ 'Game.Headers.ThreatReminder' | translate }}</ion-card-title>
          </ion-card-header>
    
          <ion-card-content>
            <p>{{ 'Game.ThreatPriority.AsFollows' | translate }}:</p>
            <ol>
              <li>{{ 'Game.ThreatPriority.ChancellorCheck' | translate }}</li>
              <li>{{ 'Game.ThreatPriority.UsurperCheck' | translate }}</li>
              <li>{{ 'Game.ThreatPriority.VisionCheck' | translate }}</li>
              <li>{{ 'Game.ThreatPriority.OathkeeperCheck' | translate }}</li>
            </ol>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="state.viewState === 'threatassess'">
          <ion-card-header>
            <ion-card-title>{{ 'Game.Headers.ThreatAssessment' | translate }}</ion-card-title>
          </ion-card-header>
    
          <ion-card-content>
            <ion-list>
              <ion-item *ngFor="let option of threatOptions" 
                        [color]="'path' + option.priority" 
                        [disabled]="mind.quadrant === option.quad"
                        (click)="threatAssess(option.dest)">
                {{ option.text | translate }}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="state.viewState === 'search'">
          <ion-card-header>
            <ion-card-title>{{ 'Game.Headers.SearchPlay' | translate }}</ion-card-title>
          </ion-card-header>
    
          <ion-card-content>
            <ion-list>
              <ion-item color="primary" (click)="searched()">
                {{ 'Game.Actions.TakeActions' | translate }}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="state.viewState === 'takeactions'" [color]="friendConspiratorQuadrant[mind.quadrant] === 'Friend' ? 'medium' : 'dark'">
          <ion-card-header>
            <ion-card-title>{{ 'Game.QuadrantAlignment.Alignment' | translate }}: {{ friendConspiratorQuadrant[mind.quadrant] | translate }}</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card *ngIf="state.viewState === 'takeactions'">
          <ion-card-header>
            <ion-card-title *ngIf="state.actionNumber === 0">
              {{ 'Game.Headers.SearchPlay' | translate }}
            </ion-card-title>
            
            <ion-card-title *ngIf="state.actionNumber > 0">{{ 'Game.Headers.SomeActions' | translate }} #{{ state.actionNumber }}</ion-card-title>
          </ion-card-header>
    
          <ion-card-content>

            <div class="action">
              {{ 'Game.NodeText.' + mind.text | translate }}
            </div>

            <ion-list>
              <ion-item *ngFor="let option of mind.choices" [color]="'path' + option.priority" (click)="changeState(option.dest, !mind.noActionIncrement)">
                {{ 'Game.NodeChoice.' + option.text | translate }}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-card color="noplay" *ngIf="mind.showSearchText || state.viewState === 'search'">
          <ion-card-header>
            <ion-card-title>
              {{ 'Game.Headers.CantPlay' | translate }}
            </ion-card-title>
          </ion-card-header>

          <ion-card-content>
            {{ mindmap.quadrantPlayCardInability[mind.quadrant] | translate }}
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="state.viewState === 'takeactions'">
          <ion-list>
            <ion-item color="primary" (click)="endTurn()">
              {{ 'Game.Actions.EndTurn' | translate }}
            </ion-item>
          </ion-list>
        </ion-card>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-content>
